body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #f9f9f9;
  text-align: center;
}

form input {
  padding: 8px;
  margin: 5px;
  font-size: 14px;
}

form button {
  padding: 8px 12px;
}

section {
  margin-bottom: 30px;
}

#formMessage {
  margin-top: 10px;
  color: red;
}
